<div id="main">
    <div class="header">
        <h1>Login</h1>
        <h2>Please login here.</h2>
    </div>

    <div class="content">
        <form class="pure-form pure-form-stacked" method="post">
            <fieldset>
                <label for="email">Email</label>
                <input id="email" type="email" placeholder="Email" name="email">
                <span class="pure-form-message">This is a required field.</span>

                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Password" name="password">


                <label for="remember" class="pure-checkbox">
                    <input id="remember" type="checkbox"> Remember me
                </label>

                <button type="submit" class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
        </form>
    </div>
</div>