<div id="main">
    <div class="header">
        <h1>User Data</h1>
        <h2>Check data consumed by users</h2>
    </div>

    <div class="content">
        <table class="pure-table pure-table-striped">
            <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Date
                </th>
                <th>
                    Up (MB)
                </th>
                <th>
                    Down (MB)
                </th>
            </tr>
            </thead>
            <tbody>

            {{range $d := .data}}
                <tr>
                    <td>{{.Email}}</td>
                    <td>{{.Date}}</td>
                    <td>{{.UpDataConsumed}}</td>
                    <td>{{.DownDataConsumed}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
