<div id="main">
    <div class="header">
        <h1>User Data</h1>
        <h2>Check data consumed by users</h2>
    </div>

    <div class="content">
        <table class="pure-table pure-table-striped">
            <thead>
            <tr>
                <th>
                    Email
                </th>
                <th>
                    Date
                </th>
                <th>
                    Up (MB)
                </th>
                <th>
                    Down (MB)
                </th>
            </tr>
            </thead>
            <tbody>

            {{range $d := .data}}
                <tr>
                    <td>{{.Email}}</td>
                    <td>{{.Date}}</td>
                    <td>{{.UpDataConsumed}}</td>
                    <td>{{.DownDataConsumed}}</td>
                </tr>
            {{end}}
            </tbody>
        </table>
        <hr>
        <button id="updateData" type="button" class="pure-button pure-button-primary">Update Data Immediately</button>
        <div id="updateDataResult"></div>
        <hr>
        <button id="getRawStats" type="button" class="pure-button pure-button-primary">Get Raw Statistics</button>
        <div id="getRawStatsResult"></div>
    </div>
</div>

<script>
    $("#updateData").on('click', function () {
        $.ajax({
                url: '/api/user/updateData', // url where to submit the request
                type: "GET", // type of action POST || GET
                success: function (result) {
                    // you can see the result from the console
                    // tab of the developer tools
                    $('#updateDataResult').html(result.message + result.data);
                },
            error: function (xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            }
        )
    });
    $("#getRawStats").on('click', function () {
        $.ajax({
                url: '/api/system/getRawStats', // url where to submit the request
                type: "GET", // type of action POST || GET
                success: function (result) {
                    // you can see the result from the console
                    // tab of the developer tools
                    $('#getRawStatsResult').html(result.message + result.data);
                },
            error: function (xhr, resp, text) {
                    console.log(xhr, resp, text);
                }
            }
        )
    });
</script>